/* Common Pages */

body{
margin-top: 100px!important;
opacity: 1;
visibility: visible;
font-family: inherit;
font-size: 1rem;
line-height: inherit;
color: rgb(23, 42, 58);
background-color: rgb(240, 247, 250);;
transition: all .2s ease-in;
font-family: Karla,sans-serif
}

.body-section.dark{
  background-color: #282a36;
  color: #f8f8f2;
}
h1, h2, h3, h4, h5, h6{
  line-height: 1.25;
  font-family: 'Lora', serif;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: manual;
}
p, li{
  opacity: 0.9;
}
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {

  color: #98a6ad;

}
.text-muted {

  color: rgba(0,0,0,.54) !important;

}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary.active:not(:disabled):not(.disabled), .show > .btn-outline-primary.dropdown-toggle {
  color: rgb(255, 255, 255);
  background-color: rgb(6, 128, 94);
  border-color: rgb(6, 128, 94);
}
h3 {
  font-weight: 400;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}
.navbar {
  min-height: 60px!important;
  font-size: 1.0em;
}

.navbar-light{
  font-family: Karla,sans-serif;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  box-shadow: none;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: rgb(240, 247, 250)!important;
}
.navbar-brand {
  height: 80px;
  line-height: 80px;
  color: rgb(23, 42, 58);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.15em;
  padding: 0.25rem 0.15px 1rem 0.15px;
}
.navbar-nav li.nav-item a.nav-link {
  color: rgba(23, 42, 58, 0.85);
  font-weight: 400;
}
.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
  border: none;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link .fa:hover, .navbar-light a:hover,
.navbar-light .nav-link a:active, .navbar-light .nav-link .fa:active{
  color: #06805e!important;
}
.navbar-light .navbar-nav .nav-link:visited, .navbar-light .navbar-nav .nav-link .fa:visited, .navbar-light a:visited{
  color: rgba(0,0,0,.5);
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
  }
}
.container{
  max-width: 1000px;
}
.fa:hover, .fab:hover {
  opacity: 1;
}
.fa, a, .fab, .fas{
  color: #06805e;
  cursor: pointer;
  opacity: 0.8;
}
.fa.fa-graduation-cap{
  color:rgba(0, 0, 0, 1)
}
.fa-search, .fa-moon{
  color: black;
}
footer{
  margin-top: 10%;
  text-align: center;
  margin-bottom: 4%;
  font-size: 0.85rem;
  font-weight: 400;
}
footer .float-right{
  margin-right: 100px;
}
.body-section.dark .fa-chevron-up {
  color: rgba(255,255,255,.54);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  letter-spacing: .04em;
  color: #172a3a;
}
h1, .h1{
  font-size: 2.7rem;
}

/* Index Page */


body.index-body{
  color: #172a3a;
  font-size: 1.15rem;
}
body.index-body p.personal_description{
  font-size: 1.3rem;
  line-height: 1.7;
}
.main-page{
  margin-top: 50px;
}
.index-body .main-page .row{
  padding-top: 30px;
}
#profile  {
  text-align: center;
  padding: 30px 10px;
  position: relative;
} 
.avatar {
  width: 270px;
  height: 270px;
  margin: 0 auto;
  object-fit: cover;
} 
#profile img {
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  max-width: 100%;
  border-style: none;
  display: block;
}
.profile-title{
  margin-top: 1.5rem;
  font-family: 'Lora', serif;
}
.profile-title h2 {
  font-size: 1.85em;
  font-weight: 300;
  color: #333;
  margin: 20px 0 10px;
}
.body-section.dark .profile-title h2{
  color: #fff;
}
.profile-title h3 {
  font-weight: 300;
  color: rgba(0,0,0,.54);
  margin: 0 0 10px;
}
.body-section.dark .profile-title h3{
  color: rgba(255,255,255,.54);
}
.profile-title h3 a:hover, a:hover {
  text-decoration: underline;
  color: #06805e;
}
ul.network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}
.network-icon li {
  margin-right: 10px;
}
.big-icon {
  font-size: 2.5rem;
}
.description .col-lg-8{
padding-top: 60px !important;
padding-bottom: 50px;
}
a{
  color: #06805e;
  text-decoration: none;
  transition: color .6s ease;
}
.ul-interests{
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-weight: 300;
}
.ul-edu li{
  list-style-type: none;
  list-style-position: outside ;
}
.edu_description p{
  margin: 0;
}
.edu_description .course{
  font-size: 1.3rem;
}
.edu_description .institution{
  font-size: .95rem;
  color: rgba(0,0,0,.6);
  margin-top: 0.6em;
}

.carousel {
  position: relative;
}
.carousel-indicators li{
  background-color: #06805e80;
  opacity: 0.5;
}
.collection{
  padding: 110px 0;
  animation: intro .3s both;
  animation-delay: .15s;
}
.work.wg-slider {
  padding: 0;
  animation: none;
      animation-delay: 0s;
  animation-delay: unset;
}
.carousel-item{
  height: 325px; 
  background-color: rgb(64, 64, 64); 
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('./../images/supplies.jpg'); 
  min-height: 325px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.work:not(:first-of-type) {
  padding: 25px 0 50px;
}
.work:nth-of-type(2n) {
  background-color: #fbf9f4;
}
.carousel-item.dark  > * {
  color: #fff;
}
.collections-feedback{
  font-size: 2.7rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1;
}
.feedback-content{
  font-size: 1.35rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}
.feedback-content:first-child{
  margin: 0 auto 0 auto;
  text-align: center;
}
.feedback-content:last-child{
  margin-left: auto; margin-right: 0
}
.feedback1{
  text-align: center;
}
.feedback2{
  text-align: left;
}
.feedback3{
  text-align: right;
}

.demo, .demo-h1{
  margin-top: 35px;
  padding: 0 0 10px 0;
  text-align: center;
  font-weight: 10;
}
.works-title{
  letter-spacing: 0.08rem!important;
  color: #004346!important;
  text-transform: uppercase;
  font-weight: 500!important;
  font-family: Karla,sans-serif!important;
  font-size: 1.5rem;
}
.col-12 h5, .post-details{
  color: #888;
}
.post-title a{
  color: inherit;
  font-size: 1em;
  font-weight: 400;
}
.post-title a:hover{
  color: #06805e;
  text-decoration: none;
}
.post-title{
  margin-top: 0em;
  font-family: Karla,sans-serif!important;
}
.post-review{
  margin-top: 2px;
  font-size: 1rem;
  color: #333;
}
.dark .post-review{
  color: #f8f8f2;
}
.post-details{
  margin-top: 8px;
  font-size: 14px;
}
.media{
  margin-bottom: 1rem;
  line-height: 2rem;
}
.media img {
  max-width: 130px;
  height: auto;
  object-fit: cover;
}
.see-all{
  text-transform: uppercase;
  font-size: 1.5rem;
}


/* About and Resume pages */


#about-me, #pre-contact{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./../images/about.jpg');
  padding: 7.5rem 5rem 6rem 5rem;
  text-align: center;
  height: 100%;
  background-attachment: fixed;
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about-me h1, #pre-contact h1{
  color: #fff;
  font-size: 3.5rem;
}
#about-me-description p{
  font-size: 1.3rem;
  word-spacing: 0.2rem;
  line-height: 1.7rem;
  margin-bottom: 2rem;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mini{
  padding: 2rem 0 0 0;
}
.badge {
  display: inline-block;
  padding: .25em .4em;
      padding-right: 0.4em;
      padding-left: 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 40%;
  transition: color .15s ease-in-out;
  background-color: .15s ease-in-out;
  border-color: .15s ease-in-out;
  box-shadow: .15s ease-in-out;
}
.border {
  border: 1px solid #06805e !important;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}
.experience .m-2 .border.exp-fill {
  background-color: #06805e !important;
}
.experience .col.border-right {
  border-color: #06805e !important;
}
.h-50 {
  height: 50% !important;
}
.about-body .card{
  margin-bottom: 1.9rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
}
.about-body .card-body{
  padding: 0.5rem;
}
.body-section.dark .card{
  background: #343a40;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
}
.card h4 {
  font-size: 1.2rem;
    font-weight: 900;
    opacity: 0.9;
  line-height: 1.5;
}
.body-section.dark .card h4{
  color: rgba(255,255,255,.8) !important;
}
.card h4 a {
  color: #000;
  border-bottom: solid 1px transparent;
  font-weight: 500;
}
.body-section.dark .card h4 a {
  color: #06805e;
  border-bottom: solid 1px transparent;
}
.body-section.dark .card h4 a:hover{
  text-decoration: none;
}
.exp-meta{
  font-size: 1rem;
  opacity: 0.9;
  padding-top: 0.5rem;
  margin-bottom: 0.2rem;
}
.body-section.dark .exp-meta{
  color: rgba(255,255,255,.8) !important;
}
#experience .mini{
    text-align: left;
    padding-bottom: 68px;
}
#experience .mini h1{
  font-size: 3.2rem;
}
.section-heading h1{
  color: #333;
  font-weight: 400;
  font-size: 2rem;
}
.section-heading p{
  font-size: 1.5rem;
  word-spacing: 0.2rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.body-section.dark .section-heading{
  color: #98a6ad;
}
.btn-outline-primary {
  color: #06805e;
  border-color: #06805e;
}
.btn-outline-primary:hover {
  background-color: #06805e;
  color: white;
  border: none;
}
.btn-outline-primary:focus {
  border: none;
  box-shadow: 0 0 0 .2rem rgba(225,61,61,.25);
}
.form-control{
  height: calc(2em + 1.25rem + 2px);
}
.form-control:focus{
  box-shadow: rgb(8, 177, 130) 0px 0px 0px 0.2rem;
  border-color: rgb(6, 128, 94);
  border-radius: 0.45em;
}
.form-control::placeholder {
  font-weight: 500;
  font-size: 1.1rem;
}
#contact .fa-li {
  position: absolute;
  left: -3.14286rem;
  width: 4rem;
  text-align: center;
  
  padding-top: 0;
    margin-bottom: .3rem;
}
#contact .fa-ul li{
  margin: 3rem 0 1rem 0;
}

.about-body .fa-ul li a{
  margin-left: 10px;
  margin-top: 2rem;
  font-size: 1.3rem
}
.about-body .fa-ul .fas{
  color: black;
}
.body-section.dark .fa-ul .fas{
  color: #f8f8f2;
}

/* Posts Page */

#posts img{
  width: 20%;
}
.blog{
  text-align: center;
  margin: 100px auto 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
section.media-body{
  text-align: left;
}
.blog .media{
  margin-bottom: 100px;
}
.blog nav ul li a{
  color: #d03b39;
  border: 1px solid #06805e;
} 
.blog nav ul li a:hover{
  color: white;
  background-color: #d03b39;
}
.blog nav ul li a:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(225,61,61,.25);
}
.body-section.dark .blog nav ul li a{
  color: #f8f8f2;
  background-color: #282a36;
}
.body-section.dark .blog nav ul li a:hover{
  color: #f8f8f2;
  background-color: #d03b39;
  border: 1px solid #06805e;
}
.blog nav ul li a:focus{
box-shadow: 0 0 0 .2rem rgba(225,61,61,.25);
}
.topic-container{
  margin-top: 6.1%;
}
.topic-container-d{
  margin-top: 7.4%;
}
.topic-container-d .featured-image5{
  background-image: url('./../images/cocacola.jpg');
  background-size: cover;
  height: 400px;
}
.topic-container-d .featured-image4{
  background-image: url('./../images/pull_push.jpg');
  background-size: cover;
  height: 400px;
}
.topic-container-d .featured-image3{
  background-image: url('./../images/mic2.jpg');
  background-size: cover;
  height: 600px;
}
.topic-container-d .featured-image2{
  background-image: url('./../images/door.jpg');
  background-size: cover;
  height: 1000px;
}
.topic-container-d .featured-image1{
  background-image: url('./../images/mic.jpg');
  background-size: cover;
  height: 700px;
}
.topic-container .media-body{
  margin-top: 10%;
  margin-left: 10%;
}
.topic-container img{
  width: 100%;
}
.blog-container, .article-container {
  max-width: 760px;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 50px;
}
.blog-container img{
  width: 50%;
  vertical-align: 50%;
  margin-left: 25%;
  margin-top: 4%;
  margin-bottom: 2%;
}
@media (min-width: 1001px) {
  .blog {
    width: 1000px;
  }
}


/* Collections Page */
.collections{
  margin-top: 120px;
}
.collections .center-text{
  text-align: center;
  color: #333;
}
.collections .center-text h2{
  font-size: 2.5rem;
  font-weight: 400;
}
.body-section.dark .collections .center-text{
  color: #98a6ad;
}
.collection-toolbar {
  margin-bottom: 2rem;
}
.collections .btn-toolbar {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.collections .btn-toolbar .btn {
  font-size: .9rem;
  /* padding: 10px 14px 9px; */
  border: none;
  border-radius: 0;
}
.collections .btn-toolbar .btn{
  font-size: 0.9rem;
  font-family: Arapey;
  text-transform: lowercase;
  font-style: italic;
  opacity: 0.9;
  line-height: 0.5;
}
.collections .btn-primary {
  color: #fff;
  background-color: #06805e;
  border-color: #06805e;
}
.collections .btn-toolbar .btn.btn-primary:active, .btn-toolbar .btn.btn-primary.active {
  background-color: #044f3a!important;
}
.collections .btn-toolbar .btn.btn-primary:hover, .btn-toolbar .btn.btn-primary:focus {
  background-color: #08b182!important;
  box-shadow: none;
}
.collections .btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #08b182;
}
.collections .collections-container {
  display: block;
  position: relative; 
}
.collections .collection-card {
  position: relative;
  margin: 0 0 10px;
  padding-right: 80px;
}
.collections .card {
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff;
  border-radius: 0;
}
.collections .card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
}
.card .card-img-top {
  display: block;
  position: relative;
  margin-bottom: 1.5rem;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  max-width: 100%;
  min-height: 100px;
  max-height: 350px;
  display: block;
  margin: 0 auto;
}
.card .card-img-top {
  border-radius: 0;
}
.card-image:hover{
  opacity: .4;
}
.card .card-image.hover-overlay::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  content: " ";
  opacity: 0;
  transition: all .2s ease-out;
}
.card:hover .card-image.hover-overlay::after {
  opacity: 1;
}
.card:hover .card-image.hover-overlay::after {
  display: block;
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  transform: translate(0,-50%);
  transition: all .2s ease-out;
  font-family: 'font awesome 5 free';
  font-weight: 900;
  content: '\f0c1';
  text-align: center;
  font-size: 3rem;
  color: #222;
}
.dark .card:hover .card-image.hover-overlay::after {
  color: #fff;
}
.collections .card h5{
  font-size: .9rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}
.body-section.dark .collections .card h5{
  color: #06805e;
    border-bottom: solid 1px transparent;
}
.collections .card .card-text p {
  color: rgba(0,0,0,.54);
  font-size: 0.85rem;
}
.body-section.dark .collections .card .card-text p {
  color: #f8f8f2;
}
@media only screen and (min-width: 1183px) {
	.card-columns {

    column-count: 3;

}
}
@media only screen and (max-width: 1183px) {
	.card-columns {

    column-count: 2;

}}
@media only screen and (max-width: 750px) {
	.card-columns {

    column-count: 1;

}}



/* Search Concepts */

.searching .search-results {

  transform: scale(1);
  -webkit-transform: scale(1);
  z-index: 1031;

}
.search-results {
  background-color: #fbf9f4;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: scroll;
  position: fixed;
  visibility: hidden;
}
.dark .search-results {

  background-color: #282a36;

}
.search-results > .container {

  padding-top: 70px;

}
#search-box::before {

  font-family: 'font awesome 5 free';
  font-weight: 900;
  content: "\f002";
  font-size: 1rem;
  opacity: .25;
  line-height: 1rem;
  position: absolute;
  left: .7rem;
  top: 7.2rem;
  overflow-x: hidden;

}
.col-search-close{
  text-align: right;
  font-size: 2rem;
  line-height: 1;
}
#search-box #search-query {

  width: 100%;
  border: 1px solid #dedede;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  line-height: 1rem;
  height: 1rem;
  font-size: .8rem;

}
.dark #search-query {

  background-color: #44475a;

}
.dark input, .dark #search-box{
  color: #f8f8f2;

background: #282a36;
}
.search-header {
  position: sticky;
  top: 70px;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: #000;
}
.search-header i {
  font-size: 2rem;
  line-height: 1;
}